{% extends "templates/layout.jinja2" %}
{% block content %}

    <h2>{{ context.title }}</h2>
    {% include "templates/contents.jinja2" %}

    {% include "templates/addform.jinja2" %}

{% endblock content %}
