{% extends "templates/layout.jinja2" %}
{% block content %}

  <p>Welcome to {{ context.title }}. Visit
    <a href="{{ request.resource_url(context, 'hello') }}">hello</a>
  </p>

{% endblock content %}
