{% extends "templates/layout.jinja2" %}
{% block content %}

    <h2>{{ context.title }}</h2>
    <p>The root might have some other text.</p>
    {% include "templates/contents.jinja2" %}

{% endblock content %}
